<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Сборка
  body
    .header
      .wrapper.header-wrapper
        .row
          .logo.col Logo New Old
          ul.nav.col
            a(href="#") 
              li item10
            a(href="#") 
              li item20
            a(href="#") 
              li item30
            a(href="#") 
              li item40
    .body
      .wrapper.body-wrapper
        .row
          .body-item.col
          .body-item.col
          .body-item.col
          .body-item.col
          .body-item.col
          .body-item.col
          .body-item.col
          .body-item.col
          .body-item.col
          .body-item.col
          .body-item.col
          .body-item.col
    .footer
      .wrapper.footer-wrapper
        .row
          .logo.col Lofo
          ul.nav.col
            a(href="#") 
              li item1
            a(href="#") 
              li item2
            a(href="#") 
              li item3
            a(href="#") 
              li item4